### PROGETTO FINALE IDS

Utilizzeremo un dataset della stagione di calcio della Serie A 2023/2024, per provare a predire le ultime 5 giornate che vanno dalla 33° giornata alla 38°giornata.
In un campionato con 20 squadre e un totale di 38 giornate, ogni squadra gioca 38 partite (una per giornata).

Vogliamo considerare le ultime 5 giornate del campionato, quindi 50 partite in totale (10 partite per giornata × 5 giornate).

Per ciascuna partita, proveremo a prevedere il risultato usando uno dei seguenti segni:

1: vittoria della squadra di casa

X: pareggio

2: vittoria della squadra in trasferta

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

Importiamo la tabella Serie A_matches_23_24.csv che contiene i risultati di tutte le partite del campionato, gli facciamo una pulizia togliendo colonne dupplicate e quelle inutilizzate e dividiamo la colonna score in score_casa e score_trasferta e creiamo una colonna nuova "Esito" dove si vedrano accettati soltanto valori come: 1 o x o 2;

In [ ]:
matches = pd.read_csv('Serie A_matches_23_24.csv')
matches.head()
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Round         380 non-null    int64
 1   Round Name    380 non-null    int64
 2   Home Team     380 non-null    object
 3   Away Team     380 non-null    object
 4   UTC Time      380 non-null    object
 5   Finished      380 non-null    bool
 6   Started       380 non-null    bool
 7   Cancelled     380 non-null    bool
 8   Awarded       380 non-null    bool
 9   Score         380 non-null    object
 10  Match Status  380 non-null    object
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
dtypes: bool(4), float64(4), int64(2), object(5)
memory usage: 34.3+ KB

,Round,Round Name,Home Team,Away Team,UTC Time,Finished,Started,Cancelled,Awarded,Score,Match Status,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1,1,Empoli,Hellas Verona,2023-08-19T16:30:00Z,True,True,False,False,0_1,Full-Time,NaN,NaN,NaN,NaN
1,1,1,Frosinone,Napoli,2023-08-19T16:30:00Z,True,True,False,False,1_3,Full-Time,NaN,NaN,NaN,NaN
2,1,1,Genoa,Fiorentina,2023-08-19T18:45:00Z,True,True,False,False,1_4,Full-Time,NaN,NaN,NaN,NaN
3,1,1,Inter,Monza,2023-08-19T18:45:00Z,True,True,False,False,2_0,Full-Time,NaN,NaN,NaN,NaN
4,1,1,Roma,Salernitana,2023-08-20T16:30:00Z,True,True,False,False,2_2,Full-Time,NaN,NaN,NaN,NaN